body{
    max-height: 100%;
}

.parent{
    background-image: linear-gradient(180deg, #40343f, var(--bs-body-bg) 100px, var(--bs-body-bg));
}


.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 900px;
}
